<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=10" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link type="text/css" media="all" href="/static/css/autoptimize.css" rel="stylesheet" />
		<style type="text/css" media="screen">
			#footer-widgets .widget {
				width: 100%
			}

			#masthead-widgets .widget {
				width: 100%
			}
		</style>
		<title>{{ title }}</title>
		<link rel='stylesheet' id='font-awesome-css' href='/static/css/font-awesome.min.css' type='text/css' media='all' />

	</head>

	<body class="post-template-default single single-post postid-274 single-format-standard responsive layout-full no-js has-sidebar has-menu-search panels-style-force-full page-layout-default">
		<div id="page-wrapper">
			<header id="masthead" class="site-header masthead-logo-in-menu" role="banner">
				<nav role="navigation" class="site-navigation main-navigation primary use-sticky-menu">
					<div class="full-container">
						<a href="/"  rel="home" class="logo">
							<h1 class="site-title">wiki银票网</h1></a>

					</div>
				</nav>
			</header>

			<div id="main" class="site-main">
				<div class="full-container">
					<div id="primary" class="content-area">
                        {% block context %}{% endblock %}
					</div>
					<div id="secondary" class="widget-area" role="complementary">
                        <!--项目部分-->
                        {% include 'projectlist.html' %}
                        <!--最新文章部分-->
                        {% include 'lastdocs.html' %}
					</div>

                    <iframe name="content_frame" marginwidth=0 marginheight=0 width=80% height=200  frameborder=0></iframe></div>
			</div>

			<footer id="colophon" class="site-footer" role="contentinfo">

				<div id="site-info">
					<a href="#" target="_blank">
						<p style="color: white;font-size: xx-large">银票网</p>
					</a>
				</div>
				<div id="theme-attribution">A
					<a href="https://siteorigin.com">SiteOrigin</a> Theme</div>
			</footer>
		</div>
		<!--a href="#" id="scroll-to-top" class="scroll-to-top" title="Back To Top"><span class="vantage-icon-arrow-up"></span></a>-->
		</body>

</html>
