
<aside id="categories-2" class="widget widget_categories">
							<h3 class="widget-title" style="font-size: 20px;line-height: 20px">项目列表</h3>
                            <!--项目列表-->

							<ul>
                                {% for pro in pros %}
								<li style="font-size: 20px;line-height: 30px">
                                    <a href="{% url 'pro' pro.id %}" >{{ pro.name }}</a><span>({{ pro.article_set.all.count }})</span>
								</li>
				                {% endfor %}
							</ul>

						</aside>