{% extends 'base.html' %}

{% block context %}
<div id="content" class="site-content" role="main">
    <header class="page-header">
        <h1 id="page-title" style="font-size: x-large">{{ pro.name }}</h1></header>
        {% for doc in docs %}
        <article id="post-304" class="post-304 post type-post status-publish format-standard hentry category-theme">
								<div class="entry-main">
									<header class="entry-header">
										<h1 class="entry-title"><a href="{% url 'doc' doc.id %}" style="line-height: 20px" rel="bookmark">{{ doc.title }}</a></h1>
										<div class="entry-meta" >
                                            <span class="entry-categories" style="line-height:20px;margin: 30px ">创建时间: {{ doc.create_time|date:"Y-m-d H:i:s" }}</span>
                                            <span style="margin: 10px">创建人: {{ doc.create_user }}</span>
                                            <span class="entry-categories" style="line-height:20px;margin: 30px ">修改时间: {{ doc.last_update_time|date:"Y-m-d H:i:s"  }}</span>
                                            <span style="margin: 10px">修改人:{{ doc.last_update_user }}</span>
                                        </div>
									</header>
									<div class="entry-content" style="font-size: larger">

                                        {%if doc.context|safe|length >= 30 %}
                                           {{doc.context|safe|slice:"30"}}.....
                                        {%else%}
                                            {{ doc.context|safe  }}
                                        {%endif%}
                                    </div>
								</div>
							</article>
        {% endfor %}
</div>
{% endblock %}

